<div class="user-details">
  <h2 align="left"> 基本信息 </h2>
  <p align="left"> 姓名: {{site.user_name}} </p>
  <p align="left"> 出生: {{site.birth}} </p>
  <p align="left"> 邮箱: {{site.email}} </p>
  <p align="left"> 手机: {{site.mobile}} </p>
  <p align="left"> 学历: {{site.education}} </p> 
  <p align="left"> 毕业院校: {{site.school}} </p>


  <h2 align="left"> 自我简介 </h2>
  <p align="left"> {{site.user_description_1}} </p>
  <p align="left"> {{site.user_description_2}} </p>
  <p align="left"> {{site.user_description_3}} </p>
  <p align="left"> {{site.user_description_4}} </p>
  <p align="left"> {{site.user_description_5}} </p>
  <p align="left"> {{site.user_description_6}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>平台</h2>
      <i class="devicon-linux-plain colored"></i>
      <i class="devicon-tizen-plain colored"></i>
      <i class="devicon-dot-net-plain-wordmark colored"></i>
    </div>
    <div class="tech">
      <h2>语言</h2>
      <i class="devicon-cplusplus-plain-wordmark colored"></i>
      <i class="devicon-csharp-line-wordmark colored"></i>
      <i class="devicon-python-plain-wordmark colored"></i>
    </div>
    <div class="tech">
      <h2>工具</h2>
      <i class="devicon-git-plain colored"></i>
      <i class="devicon-mysql-plain-wordmark colored"></i>
      <i class="devicon-redis-plain-wordmark colored"></i>
      <i class="devicon-nginx-plain colored"></i>
    </div>
</div>
  
