 <div class="user-details">
  <h1> 自我简介 </h1>
  <p align="left"> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>平台</h2>
      <i class="devicon-linux-plain colored"></i>
      <i class="devicon-dot-net-plain-wordmark colored"></i>
      <p>7年多linux arm/x86 平台研发经验，1年半.net core C#跨平台研发经验;</p>
    </div>
    <div class="tech">
      <h2>语言</h2>
      <i class="devicon-cplusplus-plain-wordmark colored"></i>
      <i class="devicon-python-plain-wordmark colored"></i>
      <i class="devicon-csharp-line-wordmark colored"></i>
<!--      <p>语言能力掌握概况:</p>
      <p>C/C++]:80% [C#]:40% [Python]:60% [Shell]:60%</p> 
-->
    </div>
    <div class="tech">
      <h2>工具</h2>
      <i class="devicon-git-plain colored"></i>
      <i class="devicon-mysql-plain-wordmark colored"></i>
      <i class="devicon-redis-plain-wordmark colored"></i>
      <p>熟悉关系型数据库mysql设计、非关系型 redis 数据库使用；熟悉版本控制工具 git，svn，Perforce等;</p>
    </div>
</div>
