 <div class="user-details">
  <h1> My Expertise </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Design</h2>
      <i class="devicon-html5-plain-wordmark"></i>
      <i class="devicon-linux-plain colored"></i>
      <i class="devicon-css3-plain-wordmark colored"></i>
      <p>TODO:</p>
    </div>
    <div class="tech">
      <h2>Code</h2>
      <i class="devicon-python-plain-wordmark colored"></i>
      <i class="devicon-csharp-line-wordmark colored"></i>
      <i class="devicon-cplusplus-plain-wordmark colored"></i>
      <i class="devicon-dot-net-plain-wordmark colored"></i>
      <p>TODO:</p>
    </div>
    <div class="tech">
      <h2>Tools</h2>
      <i class="devicon-git-plain colored"></i>
      <i class="devicon-mysql-plain-wordmark colored"></i>
      <i class="devicon-redis-plain-wordmark colored"></i>
      <p>TODO:</p>
    </div>
</div>
