<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="react-native" src="{{ "/assets/img/react-native.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> 17_React.NET_SRCN </h3>
  <!--
    <ul>
      <li> Featured Skills</li>
    </ul>
  -->
    <p>1. 完成 tizen平台 react native 框架移植，优化工作。</p>
    <p>2. 完成 demo app：instagram & music player, 其中 music player 被商用到 CLS 中。</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="tizen" src="{{ "/assets/img/tizen.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> 14~16_Maint_TP_InfoLink_SRCN </h3>
<!--
    <ul>
      <li> Featured Skills</li>
    </ul>
-->
    <p>1. 完成Tizen平台 Service Extension Framework 所有porting工作</p>s
    <p>2. 支持2014~2016年 Tizen&Orsay平台 Service Extension Framework 商品化量产工作</p>
    <p>3. Tizen Platform：Service Extension Framework 性能优化</p>
    <p>4. 基于 Service Extension Framework 实现 command debugger 工具</p>
    <p>5. 维护VD事业部下所有的webapp对应的服务模块</p>
    <p>6. 扩展Orsay平台HID，支持 Gamepad Menu navigation 的功能。</p>
    <p>7. 支持完成 ohtv IME plugin 交互框架的开发工作</p>
    <p>8. 基于ANT+协议的 healcare 相关外设的调研、开发及DEMO</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="smart-tv" src="{{ "/assets/img/smart-tv.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> 13_VI_Swordfish </h3>
<!--
    <ul>
      <li> Featured Skills</li>
    </ul>
  -->
    <p>1. 支持 非标准 healthcare protocol module 和 Device/Web API</p>
    <p>2. 开发 基于debug menu 的 SEF Command debugger</p>
    <p>3. 优化 SEF 框架，提升性能和效率</p>
    <p>4. 移植 SEF/OCI 到 '14-year Smart TV SDK 5.0</p>
    <p>5. 开发 WEMO Device Profile。</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="dlna" src="{{ "/assets/img/dlna.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> TCG华为 IPTV 终端中间件 </h3>
<!--
    <ul>
      <li> Featured Skills</li>
    </ul>
    -->
    <p>1. PVR模块中“录制任务冲突检测”优先级算法设计和编码</p>
    <p>2. DLNA模块中DMS和DMR主要特性开发</p>
    <p>3. NAGRA CA鉴权的DVB本地录制、时移录制</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
