<div class="user-details">
  <h1> 特色项目 </h1>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="react-native" src="{{ "/assets/img/kw.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> 孩子王 - 商城订单系统 </h3>
    <p>- 负责孩子王商城-订单系统 优化，优化原订单子系统，按需实现分库分表，缓解大促期间百万级订单给系统带来的压力，提高了系统稳定性。</p>
    <p>- 负责孩子王商城-风控系统 重新设计及实现，解耦原有的聚合系统，增加了用户登录，加购，下单及支付多维度风险控制，减少不必要经济损失。</p>
    <p>- 主导裂变红包系统-位置红包系统的设计及实现，每周一次活动频率，发版一个月，收获月拉新人数过十万。</p>
    <p>- 与腾讯微信团队对接 “微信购物单” 功能，实时同步孩子王订单及商品信息,实现新的引流入口。</p>
    <a class="project-link" href="">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="react-native" src="{{ "/assets/img/react-native.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> 三星tizen.net平台 -- react native 移植、适配 </h3>
    <p>- 负责将 微软开源框架 react native 移植到三星Tizen .netcore兼容平台中，并成功适配了底层UI组件及服务。</p>
    <p>- 完成 demo app：instagram & music player, 其中 music player 被商用到 CLS 中。</p>
    <a class="project-link" href="https://github.com/August15th/react-native-tizen-dotnet">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="tizen" src="{{ "/assets/img/tizen-570.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> 三星Tizen智能操作系统组件及核心服务研发 </h3>
    <p>- 完成Tizen平台 Service Extension Framework 所有porting工作</p>
    <p>- 支持2014~2016年 Tizen & Orsay平台 Service Extension Framework 商品化量产工作</p>
    <p>- Tizen Platform：Service Extension Framework 性能优化</p>
    <p>- 基于 Service Extension Framework 实现 command debugger 工具</p>
    <p>- 维护VD事业部下所有的webapp对应的服务模块</p>
    <p>- 扩展Orsay平台HID，支持 Gamepad Menu navigation 的功能。</p>
    <p>- 支持完成 ohtv IME plugin 交互框架的开发工作</p>
    <p>- 基于ANT+协议的 healcare 相关外设的调研、开发及DEMO</p>
<!--    <a class="project-link" href="#">Check it out</a> -->
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="smart-tv" src="{{ "/assets/img/smart-tv.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> 三星 Orsay 智能操作系统组件及核心服务研发 </h3>
    <p>- 支持 非标准 healthcare protocol module 和 Device/Web API</p>
    <p>- 开发 基于debug menu 的 SEF Command debugger</p>
    <p>- 优化 SEF 框架，提升性能和效率</p>
    <p>- 移植 SEF/OCI 到 '14-year Smart TV SDK 5.0</p>
    <p>- 开发 WEMO Device Profile。</p>
<!--    <a class="project-link" href="#">Check it out</a> -->
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="dlna" src="{{ "/assets/img/dlna.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> TCG华为 IPTV 终端中间件 </h3>
<!--
    <ul>
      <li> Featured Skills</li>
    </ul>
-->
    <p>- PVR模块中“录制任务冲突检测”优先级算法设计和编码</p>
    <p>- DLNA模块中DMS和DMR主要特性开发</p>
    <p>- NAGRA CA鉴权的DVB本地录制、时移录制</p>
<!--    <a class="project-link" href="#">Check it out</a> -->
  </div>
</div>
